/sc
*.project
*.classpath
*.class
/.metadata
hs_err_pid*.log
*.psd
*.aux
*.log
*.nav
*.out
*.synctex.gz
*.toc
*.vrb
*.snm
*.ap_
*.dex
R.java
*.cache
*/.settings
*Thumbs.db
bin/
gen/
lucene/src/org/apache
lucene/src/org/tartarus
*.pyc
*/.pydevproject
*.asv
*.bbl
*.blg
